 @using resources = Resources.Main

<div class="test-delete-confirmation-dialog">

    <div class="test-delete-confirmation-dialog-header">

        <div id="title">
            
             @resources.ChildDeleteConfirmationDialog_Title 

            <div class="cancel" ng-click="close()"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>

        </div>



    </div>

    <p>@resources.ChildDeleteConfirmationDialog_Text</p>

    <div ng-if="isServerError">@resources.ChildDeleteConfirmationDialog_Error </div>
    <div class="actions">

        <a class="btn bottun" href="#" ng-click="removeAndExit()"> @resources.ConfirmationDialog_Yes </a>

        <a class="btn bottun" href="#" ng-click="exit()"> @resources.ConfirmationDialog_No </a>

    </div>

</div>