@using resources = Resources.Main;

<div id="test-create-popup">

    <form ng-submit="createTest()">

        <div id="test-create-popup-header">

            <div id="title">
                
                @resources.TestAdd_Title {{child.Firstname}} {{child.Lastname}} 
                
                <div class="cancel" ng-click="closeModal()"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>

            </div>

        </div>

        <div id="test-create-form">

            <div>

                <input type="text" placeholder="@resources.TestAdd_TitlePlaceholder" ng-model="test.name" class="test-create-form-textbox" required />

            </div>

            <div>

                <textarea placeholder="@resources.TestAdd_ShortDescPlaceholder" ng-model="test.shortDescription" class="test-create-form-textarea-short" required></textarea>

            </div>

            <div>

                <textarea placeholder="@resources.TestAdd_LongDescPlaceholder" ng-model="test.longDescription" class="test-create-form-textarea-long" required></textarea>

            </div>
            
            <div class="actions clearfix">
                <input type="submit" value="@resources.TestAdd_Save" class="create-test-button btn" />
                
                <a class="create-test-button btn" href="#" ng-click="closeModal()">@resources.Popup_Cancel</a>
            </div>
        </div>

    </form>
</div>