@using resources = Resources.Main;

<div id="child-create-popup">

    <div id="child-popup-header">

        <div id="title">

            @resources.ChildAdd_Title

            <div class="cancel" ng-click="closeModal()"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>

        </div>
                
    </div>
    <div class="errorMessage" ng-if="isServerError">
        @resources.ChildAdd_ServerError
    </div>
    <div class="child-form-create">
        
        <div id="children-popup-image-wrap">

            <img ng-src=http://data.authink.eu/Content/Images/default-child.png alt="Default picture" />

        </div>

        <form ng-submit="createChild()">
            
            <div class="child-test">
                <input type="text" ng-model="child.firstName" ng-class="child-form-label" placeholder="@resources.ChildAdd_FirstNamePlaceholder" required />
            </div>

            <div class="child-test">
                <input type="text" ng-model="child.lastName" ng-class="child-form-label" placeholder="@resources.ChildAdd_LastNamePlaceholder" required />
            </div>
            
            <div class="actions clearfix">
                <input type="submit" value="@resources.ChildAdd_Save" class="child-dashboard-button btn"/>
                
                <a class="child-dashboard-button btn" href="#" ng-click="closeModal()">@resources.Popup_Cancel</a>
            </div>
        </form>

    </div>

</div>