@using resources = Resources.Main;

<div id="child-create-popup">

    <div id="child-popup-header">

        <h2>@resources.ChildAdd_Title</h2>

    </div>

    <div id="child-form-create">

        <form ng-submit="createChild()">

            <h1 id="child-form-title">@resources.ChildAdd_Title</h1>

            <div class="child-test">
                <input type="text" ng-model="child.firstName" ng-class="child-form-label" placeholder="@resources.ChildAdd_FirstNamePlaceholder" required />
            </div>

            <div class="child-test">
                <input type="text" ng-model="child.lastName" ng-class="child-form-label" placeholder="@resources.ChildAdd_LastNamePlaceholder" required />
            </div>

            <input type="submit" class="btn" value="@resources.ChildAdd_Save" id="child-dashboard-create-button" />

        </form>

    </div>

</div>