@using resources = Resources.Main;

<div id="children-popup">

    <div id="children-popup-header">

        <div class="title">@resources.ChildEdit_Title
            <div class="cancel" ng-click="close()"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>
        </div>
    </div>

    <div id="children-popup-image-wrap">

        <img ng-src="{{child.profilePictureUrl}}" alt="{{child.firstName}}" />

    </div>
    <div ng-if="isServerError"> @resources.ChildEdit_Error</div>
    <form enctype="multipart/form-data" ng-submit="editChild()">

        <div id="children-edit-form">
            <div>

                {{uploadProgress}}<input class="clearfix" type="file" ng-file-select="onFileSelect($files)"><br /><br />

                <label class="child-info-field-label">@resources.ChildEdit_FirstName</label>

                <input type="text" class="child-info-input-field" ng-model="child.firstName" required />

            </div>

            <div>

                <label class="child-info-field-label">@resources.ChildEdit_LastName</label>

                <input type="text" class="child-info-input-field" ng-model="child.lastName" required />

            </div>

            <div class="actions clearfix">
                <input type="submit" class="children-edit-form-button btn" value="@resources.ChildEdit_Save" />
                
                <a class="children-edit-form-button btn" href="#" ng-click="closeModal()">@resources.Popup_Cancel</a>
            </div>
        </div>

    </form>

</div>