@using resources = Resources.Main;

<div ng-if="isSimpleEdit()">
    <h2>@resources.EditTaskPicturesList_Pictures</h2>
    <a class="task-edit-picture-item edit-picture-link" ng-repeat="picture in pictures">

        <img ng-src="{{picture.Url}}" alt="" />

        <div class="addContainer" ng-click="editPicture(picture)">
            <img class="addIcon" src="~/Assets/Images/Home/add-icon.png" />
            <div class="text">@resources.EditTaskPicturesList_UploadNewPicture </div>
        </div>

    </a>
</div>

<div ng-if="isDetectCorrectItemEdit()">
    <h2>@resources.EditTaskPicturesList_CorrectPicture</h2>

    <div class="task-edit-pictures-container">

        <a class="task-edit-picture-item edit-picture-link">

            <img ng-src="{{correctPicture.Url}}" alt="" />

            <div class="addContainer" ng-click="editPicture(picture)">
                <img class="addIcon" src="~/Assets/Images/Home/add-icon.png" />
                <div class="text">@resources.EditTaskPicturesList_UploadNewPicture</div>
            </div>

        </a>

    </div>

    <h2>@resources.EditTaskPicturesList_WrongPictures</h2>

    <div class="task-edit-pictures-container">

        <a class="task-edit-picture-item edit-picture-link"  ng-repeat="picture in wrongPictures">

            <img ng-src="{{picture.Url}}" alt="" />

            <div class="addContainer" ng-click="editPicture(picture)">
                <img class="addIcon" src="~/Assets/Images/Home/add-icon.png" />
                <div class="text">@resources.EditTaskPicturesList_UploadNewPicture</div>                
            </div>
        </a>

    </div>
</div>

<div ng-if="isDetectColorsEdit()">

    <a class="task-edit-picture-item edit-picture-link" ng-repeat="picture in pictures">

        <img ng-src="{{picture.Url}}" alt="" />

        <div class="task-edit-picture-colors">

            <div class="task-edit-picture-colors-correct clearfix">

                <h1>@resources.EditTaskPicturesList_CorrectColors</h1>

                <div class="task-edit-picture-colors-single" ng-style="{'background-color':picture.CorrectColor.Value}"></div>

            </div>

            <div class="task-edit-picture-colors-incorrect clearfix">

                <h1>@resources.EditTaskPicturesList_WrongColors</h1>

                <div class="task-edit-picture-colors-single" ng-repeat="wrongColor in picture.WrongColors" ng-style="{'background-color':wrongColor.Value}"></div>

            </div>

        </div>

        <span ng-click="editPicture(picture)">@resources.EditTaskPicturesList_UploadNewPicture</span>
    </a>
</div>
