@{
    Layout = null;
}
@using resources = Resources.Login;

<div id="loginForm">

    <form ng-submit="login()" ng-show="!isSignUp">
        <div class="inputContainer">
            
            <div ng-if="errors.isloginError" class="alert alert-danger">
                @resources.LoginForm_ErrorMessage
            </div>

            <div class="inputData">
                <input type="text" class="login-form-field" ng-model="username" placeholder="@resources.LoginForm_UsernamePlaceholder" required />
                <div id="usernameIcon"></div>
            </div>
            <div class="inputData">
                <input type="password" class="login-form-field" ng-model="password" placeholder="@resources.LoginForm_PasswordPlaceholder" required />
                <div id="passwordIcon"></div>
            </div>

        </div>
        <div class="login-form-switch">

            <a ng-click="toggleForm()">@resources.LoginForm_SignUpSwitch_Link</a>
            <input type="submit" value="@resources.LoginForm_LoginButton" />

        </div>
    </form>
    
    <div id="signUpForm" ng-show="isSignUp">

        <div class="inputContainer">
            <form ng-submit="signUp()">

                <div ng-if="errors.isSignUpError" class="alert alert-danger">
                    @resources.SignUpForm_ErrorMessage_SignUpError
                </div>
                <div ng-if="errors.isUsernameOrEmailTakeError" class="alert alert-danger">
                    @resources.SignUpForm_ErrorMessage_UsernameEmailTaken
                </div>

            <div class="inputData">
                <input type="text" ng-model="user.firstname" placeholder="@resources.SignUpForm_FirstNamePlaceholder" class="login-form-field" required />
            </div>

            <div class="inputData">
                <input type="text" ng-model="user.lastname" placeholder="@resources.SignUpForm_LastNamePlaceholder" class="login-form-field" required />
            </div>

            <div class="inputData">
                <input type="email" ng-model="user.email" placeholder="@resources.SignUpForm_EmailPlaceholder" class="login-form-field" required />
            </div>

            <div class="inputData">
                <input type="text" ng-model="user.username" placeholder="@resources.SignUpForm_UsernamePlaceholder" class="login-form-field" required />
            </div>

            <div class="inputData">
                <input type="password" ng-model="user.password" placeholder="@resources.SignUpForm_PasswordPlaceholder" class="login-form-field" required />
            </div>

            <div class="inputData">
                <input type="password" ng-model="user.confirmPassword" placeholder="@resources.SignUpForm_ConfirmPasswordPlaceholder" class="login-form-field" required />
            </div>
                <div class="login-form-switch">

                    <input class="login-form-button" type="submit" value="@resources.SignUpForm_SIgnUpButton" />
                    <a ng-click="toggleForm()">@resources.SignForm_LoginSwitch_Link</a>

                </div>
        </form>
        </div> 
        
    </div>

</div>

