@using resources = Resources.Main;

<div class="task-read-container">

        <div class="task-read-popup-header">

            <h2>{{task.Name}}</h2>

            <a class="task-read-edit-button " ng-click="editTask()">@resources.TaskPreview_Edit</a>

        </div>
        <div class="task-read-header clearfix">

            <div class="task-read-header-left">

                <img ng-src="{{task.ProfilePictureUrl}}" alt="" />

            </div>

            <div class="task-read-header-right">

                <p class="task-read-description">{{task.Description}}</p>

            </div>

        </div>

        <div class="task-read-voice-command clearfix">

            <h2>@resources.TaskPreview_VoiceCommand_Title</h2>

            <a class="btn-success task-read-voice-command-preview" ng-href="{{task.VoiceCommand.Url}}" target="_blank" ng-show="task.VoiceCommand">@resources.TaskPreview_VoiceCommand_Listen</a>

            <span ng-show="!task.VoiceCommand">@resources.TaskPreview_VoiceCommand_Empty</span>
        </div>

        <div class="task-read-content clearfix">

            <h2>@resources.TaskPreview_Pictures</h2>

            <div class="task-read-pictures-container">

                <div class="task-read-picture-item" ng-repeat="picture in task.Pictures">

                    <img ng-src="{{picture.Url}}" alt="" />

                </div>

            </div>

        </div>

</div>