@using resources = Resources.Main;

<div id="main-test-tasks">

    <div id="main-test-tasks-right">

        <a id="test-edit-add-new-task" href="/test/{{testTasksListApi.testId}}/tasks/create/step-1" target="_self"><span>@resources.TestTaskList_AddNew</span></a>

    </div>

    <div id="main-test-tasks-left">

        <div id="main-test-tasks-heading">

            @resources.TestTaskList_Title (<span id="task-count">{{tasks.length}}</span>)

        </div>
        <div id="main-test-task-list clearfix">

            <div class="main-test-task-wrap" ng-repeat="task in tasks">

                <div class="main-test-task clearfix">

                    <div class="main-test-task-left">

                        <img ng-src="{{task.ProfilePictureUrl}}" height="50" width="50" />

                        <div class="main-test-task-difficulty">

                            <span class="main-test-task-difficulty-text">@resources.TestTaskList_Difficulty</span>

                            <span class="main-test-task-difficulty-value"><strong>{{task.Difficulty}}</strong></span>

                        </div>

                    </div>

                    <div class="main-test-task-right">

                        <h1 ng-click="previewTask(task)">{{task.Name}}</h1>

                        <span>{{task.Description}}</span>

                        <div class="main-test-task-options clearfix">

                            <ul class="clearfix">

                                <li><a class="main-test-task-option-delete">@resources.TestTaskList_Delete</a></li>
                                <li><a class="main-test-task-option-edit" ng-click="editTask(task)">@resources.TestTaskList_Edit</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>