 @using resources = Resources.Main

<div class="test-delete-confirmation-dialog">

    <div class="test-delete-confirmation-dialog-header">

        <div id="title">
            
             @resources.TestConfirmationDialog_Title 

            <div class="cancel" ng-click="cancel()"><img src="~/Assets/Images/Home/cancelIcon.png" /></div>

        </div>

    </div>

    <p>@resources.TestConfirmationDialog_Text</p>

    <div ng-if="isServerError">@resources.TestConfirmationDialog_Error</div>
    <div class="actions">

        <a class="btn bottun" href="#" ng-click="confirm()"> @resources.ConfirmationDialog_Yes </a>

        <a class="btn bottun" href="#" ng-click="cancel()"> @resources.ConfirmationDialog_No </a>

    </div>

</div>