@using Combres.Mvc
@model Authink.Web.Models.Picture.UploadPictures_SimpleTasksWithPictures
@using resources = Resources.TaskWizard

@{
    ViewBag.Title = "AuThink task wizard | Upload pictures";
}

@Url.CombresLink("taskWizzardCss") 

<div class="task-wizard-container">
    <div class="task-wizard-title clearfix">
        <h1>@resources.UploadPictures_Title</h1>
        @Html.RouteLink(resources.Omnibar_Cancel, "Cancel", null, new { @class = "task-wizard-cancel" })
        <div class="task-wizard-progress">@resources.Omnibar_Step <span>3</span>/5</div>
    </div>
    @if(!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="task-wizard-error">
            <span>@Model.ErrorMessage</span>
        </div>
    }
    <div class="task-wizard-content">    
        <div class="task-wizard-upload-container" class="clearfix">
            @using (Html.BeginForm("UploadPictures_SimpleTasksWithPictures", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.TaskDifficulty)
                @Html.HiddenFor(m=>m.TaskKey         )

                <div class="task-wizard-upload-info">
                    <span>@resources.UploadPictures_Simple_UploadText_1 @Model.NumberOfPictures @resources.UploadPictures_Simple_UploadText_2</span>
                </div>
                <input type="file" multiple="multiple" name="pictures"/>
                <div class="task-wizard-upload-options clearfix">
                    <input type="submit" class="task-wizard-upload-save" name="Submit" value="@resources.UploadPictures_Upload" />
                </div>
            }
        </div>
    </div>
</div>