@model Authink.Web.Controllers.Task.Models.InputMetaDataModel
@using resources = Resources.TaskWizard

@{
    ViewBag.Title = "AuThink Wizard | Informations";
}

<script>
     $(function () {
         $('form').submit(function () {
             $('input[type="submit"]', this).attr('disabled', 'disabled');
         });
     });
</script> 

<div class="task-wizard-container">
    <div class="task-wizard-title clearfix">
        <h1>@resources.InputMetaData_Title</h1>
        @Html.RouteLink("Cancel", "Cancel", null, new { @class = "task-wizard-cancel" })
        <div class="task-wizard-progress"> @resources.Omnibar_Step <span>4</span>/5</div>
    </div>
    @if(!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="task-wizard-error">
            <span>@Model.ErrorMessage</span>
        </div>
    }
    <div class="task-wizard-content">
        @using (Html.BeginForm("InputMetaData", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.IsVoiceCommandRequired)
            @Html.HiddenFor(m => m.TaskKey)

            <div class="task-wizard-meta-container">
                <div class="task-wizard-meta-heading">@resources.InputMetaData_Task_Title</div>
                <div class="task-wizard-meta-field">
                    @Html.TextBoxFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="task-wizard-meta-container">
                <div class="task-wizard-meta-heading">@resources.InputMetaData_Task_Description</div>
                <div class="task-wizard-meta-field">
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div>
                <div class="task-wizard-meta-heading">
                    @resources.InputMetaData_VoiceCommand_Title
                    @if (Model.IsVoiceCommandRequired)
                    {
                        <span>(@resources.InputMetaData_VoiceCommand_Required</span>
                    }
                    else
                    {
                        <span>(@resources.InputMetaData_VoiceCommand_Optional)</span>
                    }
                </div>
                <input type="file" name="sound"/>
            </div>
            <div class="task-wizard-upload-options clearfix">
                <input type="submit" class="task-wizard-upload-save" value="Save" />
            </div>
        }
    </div>
</div>

